* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --imagem-1: url("./img/riven.jpeg");
    --imagem-2: url("./img/renekton.jpeg");
    --imagem-3: url("./img/mordekaiser.gif");
    --imagem-4: url("./img/jax.jpeg");
    --imagem-5: url("./img/fiora.jpeg");
    --imagem-6: url("./img/aatrox.jpeg");
    --imagem-7: url("./img/renekton-mech.webp");
    --imagem-fundo: var(--imagem-1);
}

body {
    display: grid;
    place-content: center;
    height: 100dvh;
}

.tela-principal {
    height: 600px;
    background: image-set(var(--imagem-fundo));
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.container-geral {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.container-geral input{
    width: 900px;
    height: 50px;
}

.button {
    display: flex;
    justify-content: space-between;
    padding-block: 16px;
}

.button button  {
    width: 300px;
    height: 100px;
}